!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %table.email-table
      %tbody
        %tr.header-row

          %td.top
            %img{:src => asset_url("virtualgarage.png"), :id => 'logo'}
            .title{id: 'email-title'}=t('.welcome') + "#{@user.username}!"
        %tr.body-row
          %td
            %span.email= t('.beginning')
            = link_to(t('title'), root_url)
            %span.email= t('.sentence_end')
            = link_to(t('.go'), new_car_url)
            %p.email= t('.unready')
            %p.email= t('.thanks')
            %span.email{id: 'signature'}= t('.signature')
    .mail-footer
      = render 'shared/email_footer'




