.form-content-wrapper
  .form_wrapper
    -# change the title of the form based on the action (edit/new)
    -if action_name == 'edit'
      %h2 Edit your #{@car.make} #{@car.model}
      %h6 DISCLAIMER! your old car photos will be replaced with the new ones
    -else
      %h2 New car
  
    = form_for @car, html: {id: 'car_form', multipart: true } do |f|
      - if @car.errors.any?
        #error_explanation
          %h2= "#{pluralize(@car.errors.count, "error")} prohibited this car from being saved:"
          %ul
            - @car.errors.full_messages.each do |message|
              %li= message

      .field.new-car-field
        = f.label :make
        %br
        = f.text_field :make
      .field.new-car-field
        = f.label :model
        %br
        = f.text_field :model   
      .field.new-car-field
        = f.label :engine
        %br
        = f.text_field :engine
      .field.new-car-field
        = f.label :transmission
        %br
        = f.text_field :transmission
      .field.new-car-field
        = f.label :description
        %br
        = f.text_field :description
      .field.new-car-field
        = f.label :images
        = f.file_field :images, multiple: true, required: true

      .actions.button
        = f.submit 'Save'
        /# diplay the show link if in edit action
      -if action_name == 'edit'
        = link_to 'Show', @car, class: 'form-link'
        \|
      = link_to 'Back', cars_path, class: 'form-link'