= form_for @car, html: { multipart: true } do |f|
  - if @car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car.errors.count, "error")} prohibited this car from being saved:"
      %ul
        - @car.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :make
    = f.text_field :make
  .field
    = f.label :model
    = f.text_field :model
  .field
    = f.label :engine
    = f.text_field :engine
  .field
    = f.label :transmission
    = f.text_field :transmission
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :image
    = f.file_field :image

  .actions
    = f.submit 'Save'
