%p#notice= notice

%p
  %b Make:
  = @car.make
%p
  %b Model:
  = @car.model
%p
  %b Engine:
  = @car.engine
%p
  %b Transmission:
  = @car.transmission
%p
  %b Description:
  = @car.description

= link_to 'Edit', edit_car_path(@car)
\|
= link_to 'Back', cars_path
