
%p#notice= notice

%p
  %b Make:
  = @car.make
%p
  %b Model:
  = @car.model
%p
  %b Engine:
  = @car.engine
%p
  %b Transmission:
  = @car.transmission
%p
  %b Description:
  = @car.description 
%p
  %b Added by:
  = @car.user.email
- if current_user.id = @car.user_id?
  = link_to 'Edit', edit_car_path(@car)
  \|
  = link_to 'Delete', @car, method: :delete, data: { confirm: 'Are you sure?' }

%textarea.forumPost.form-control{:rows => 4, :cols => , :placeholder => 'Enter a comment...'}
%button.btn.btn-default{:type => "submit"} Submit


