%p#notice= notice

%p
  %b Make:
  = @car.make
%p
  %b Model:
  = @car.model
%p
  %b Engine:
  = @car.engine
%p
  %b Transmission:
  = @car.transmission
%p
  %b Description:
  = @car.description 
%p
  %b Added by:
  = @car.user.email
- if current_user.id = @car.user_id?
  = link_to 'Edit', edit_car_path(@car)
  \|
  = link_to 'Delete', @car, method: :delete, data: { confirm: 'Are you sure?' }


//%form{:name => "add_comment", :method => 'post'}  
//%textarea.forumPost.form-control{:rows => '4', :cols => '30', :placeholder => 'Enter a comment...', :name => 'content'}
//%button.btn.btn-default{:type => "submit"} Submit  
//= text_area :comment, method: :POST
//= button_to "SUBMIT", :action => comment_create, :method => 'POST', 
= render 'comments/form'
  
= link_to  'Add a comment', new_comment_path