!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Virtual Garage
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |name, msg|
      = content_tag(:div, msg, class: "alert alert-info")
    - if user_signed_in?
      = render 'shared/headerout'
    - else
      = render 'shared/headerin'
    .content-wrapper.container-fluid
      = yield
    %footer
      = render 'shared/footer'